<p>{{ message }}</p>
<div class="container">
    <div class="row mb-5">
        <div class="card mt-3 col-12 col-sm-12 col-md-6 ">
        <img src="../../assets/beans.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at eleifend velit. Vestibulum ante ipsum primis in faucibus orci luctus et 
                ultrices posuere cubilia curae; In ac bibendum dui, ut placerat nunc. Etiam luctus dui eu ex finibus dictum. Vivamus lobortis, mi a 
                tempus vulputate, neque felis malesuada metus, nec tincidunt urna lectus sit amet erat. Praesent id elit tortor. Maecenas at tellus ornare, 
                commodo metus sit amet, rutrum metus. </p>
        </div> 
        </div>
        <div class="card mt-3 col-12 col-sm-12 col-md-6 ">
        <div class="card-body">
            <h4 class="card-title">Producto 001</h4>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <h5><span>Precio Unitario: </span></h5>
                        <p>1000 pesos</p>
                    </div>
                    <div class="col-md-6">
                        <h5><span>Costo de envio: </span></h5>
                        <p>114 pesos</p>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <h5><span>Presentación: </span></h5>
                        <p>En latas</p>
                    </div>
                    <div class="col-md-6">
                        <h5><span>Unidades Disponibles: </span></h5>
                        <p>30</p>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <h5><span>Estado donde puede realizar envios: </span></h5>
                        <p>Chihuahua</p>
                    </div>
                    <div class="col-md-6">
                        <h5><span>Fecha estimada de expiración: </span></h5>
                        <p>24/09/2020</p>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <h5><span>Fecha estimada de expiración: </span></h5>
                        <p>24/09/2020</p>
                    </div>
                    <div class="col-md-6">
                        <h5><label for="quantity">Unidades a comprar:</label></h5>
                        <input type="number" id="quantity" name="quantity" class="form-control mb-4" min="1" max="50" step="1" value="1">
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <h5>Total a pagar: </h5>
                    <p>1000 pesos</p>
                </div>
            <a href="confirmarCompra.html" class="btn btn-signin d-block">Comprar</a>
        </div>
        </div>
    </div>
</div>