<div class="container">
    <div class="container componenteVerde text-left">
        <nav class="" i18n>BETA VERSION</nav>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" i18n><img id="logo" alt="logo" src="../assets/logo.png"> <b>M</b>ercado <b>P</b>ara
            <b>T</b>odos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle()">
            <div class="icon-bar" [@hamburguerX]="isClosed ? 'hamburguer' : 'topX'"></div>
            <div class="icon-bar" [@hamburguerX]="isClosed ? 'hamburguer' : 'hide'"></div>  
            <div class="icon-bar" [@hamburguerX]="isClosed ? 'hamburguer' : 'bottomX'"></div>
        </button>
        <!--navbar-toggler-icon-->
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <app-login-button></app-login-button> <!--Component login-button-->
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle  btn-head" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Idioma</a>
                      <a class="dropdown-item" href="#">Imágenes HTML</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="./landing/compradorNuevo">¿Quiénes somos?</a>
                    </div>
                </li>

                <!----<li class="nav-item active">
                    <a class="nav-link login-button btn-head navbartop-btn " href="../login" i18n>Inicia sesión</a>
                </li>-->
            </ul>
        </div>
    </nav>
</div>