<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h3 class="mt-3" i18n>Productos anunciados</h3>
        </div>
        <div class="col-sm-3 ">
            <form action="#">
                <input type="text" id="Form_Search" value="" placeholder="Busca productos anunciados" role="searchbox"
                    class="InputBox busquedaProducto mt-4">
            </form>
        </div>
        <div class="col-sm-2 mt-3">
            <form action="./mostrar-producto/productos-anunciados"
                onclick="alert('Se ha buscado un elemento en tus productos anunciados')">
                <input type="submit" id="Form_Go" class="btn botonBusqueda  my-2 my-sm-0 " value="Buscar">
            </form>
        </div>
    </div>

    <hr /> <!-- Simple Línea -->

    <div *ngFor="let product of announceProducts; let i = index">
        <div class="row mt-5 mb-5">
            <img src="../../assets/beans.jpg" alt="Frijoles" class="col-12 col-sm-12 col-md-4">
            <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-3 mt-3">
                <p class="align-self-center text-uppercase" i18n><b>Producto</b></p>
                <p class="align-self-center" i18n>{{ product.name }}</p>
                <p class="align-self-center text-uppercase" i18n><b>Precio</b></p>
                <p class="align-self-center" i18n>{{ product.price }}</p>
                <p class="align-self-center text-uppercase" i18n><b>Unidades disponibles</b> </p>
                <p class="align-self-center" i18n>{{ product.availableUnits }} {{ product.presentation }}</p>
            </div>
            <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-5 mt-3">
                <p class="align-self-center text-uppercase" i18n><b>Fecha estimada de expiración</b></p>
                <p class="align-self-center" i18n>{{ product.expireDate }}</p>
                <p class="align-self-center text-uppercase" i18n><b>Tiempo estimado de envío</b></p>
                <p class="align-self-center" i18n>{{ product.deliveryTime }}</p>
                <p class="align-self-center text-uppercase" i18n><b>Unidades vendidas</b></p>
                <p class="align-self-center" i18n>{{ product.unitsSold }}</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-12 col-md-4 mx-auto">
                <form action="#" onclick="alert('Se desea editar el producto anunciado')">
                    <input type="submit" id="Button-edit-1" class="btn botonEditar col-md-9 my-2 my-sm-0 "
                        value="Editar">
                </form>
            </div>
        </div>
        
        <hr /> <!-- Simple Línea -->
    </div>

    <div class="row mb-4">
        <div class="col-sm-12 col-md-3 mx-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="./mostrar-producto/productos-anunciados"
                            i18n>Previous</a></li>
                    <li class="page-item"><a class="page-link" href="./mostrar-producto/productos-anunciados" i18n>1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="./mostrar-producto/productos-anunciados" i18n>2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="./mostrar-producto/productos-anunciados" i18n>3</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="./mostrar-producto/productos-anunciados"
                            i18n>Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>