<div class="container">
    <div class="container componenteVerde text-left">
        <nav class="" i18n>BETA VERSION</nav>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" routerLink="" i18n><img id="logo" alt="logo" src="../assets/logo.png"> <b>M</b>ercado <b>P</b>ara

            <b>T</b>odos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle()">
            <div class="icon-bar" [@hamburguerX]="isClosed ? 'hamburguer' : 'topX'"></div>
            <div class="icon-bar" [@hamburguerX]="isClosed ? 'hamburguer' : 'hide'"></div>  
            <div class="icon-bar" [@hamburguerX]="isClosed ? 'hamburguer' : 'bottomX'"></div>
        </button>
        <!--navbar-toggler-icon-->
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a (click)="rotateSeller()" class="nav-link btn-head" routerLink="./producto/registrarProducto">
                        <svg [@rotatedState]="isClickedSeller ? 'rotated' : 'default'" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-plus"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
                        </svg>
                    </a>
                </li>

                <li class="nav-item active flex-row">
                    <a (click)="rotateUser()" class="nav-link btn-head" routerLink="./perfiles/perfil-comprador">
                        <svg [@rotatedState]="isClickedUser ? 'rotated' : 'default'" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </a>
                </li>
                <li class= "nav-item active">
                    <div *ngIf = "auth.user$ | async as user"> <!--Muestra información del usuario logeado-->
                        <div class="nav-link btn-head profile-image">
                            <img
                                [src]="user.picture"
                                alt="User's profile picture"
                                class="rounded-circle img-fluid profile-picture"
                            />
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle text-left btn-head" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="#">Idioma</a>
                      <a class="dropdown-item" routerLink="#">Imágenes HTML</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="./landing/compradorNuevo">¿Quiénes somos?</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <app-logout-button></app-logout-button><!--Component logut-button-->
                </li>
            </ul>
        </div>
    </nav>
</div>