<div class="container  ">
    <div class="main-search mb-4 introduccionLandingPages container text-right ">
      <form action="../search.html">   
        <button type="submit" class="btn btn-register">Comienza a comprar</button>
      </form>  
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="row">
                <div class="col-sm">
                    <h1>¿Quienes somos?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                    essentially unchanged. It was popularised in the 1960s</p>
                </div>
            </div>
            </div>
                
        </div>
        <div class="col-3  align-items-center justify-content-center ">
        <img id="seguridad" alt="seguridad" src="../../assets/Conocenos.jpg" class="w-100 h-75" >
        </div>
    </div>
    
</div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <img id="caja" alt="caja" src="../../assets/cajapedidos.jpg" class="w-100 h-75" >
            </div>
                <div class="col-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <h1>Realiza pedidos nacionales</h1>
                            </div>
                        </div>
        <div class="row">
            <div class="col-sm">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                essentially unchanged. It was popularised in the 1960s</p>
            </div>
        </div>
    </div>
                
    </div>
    </div>
    </div>

    <div class="container">
                <div class="row">
        
        <div class="col-9">
            <div class="container">
                <div class="row">
                <div class="col-sm">
                    <h1>Seguridad de principio a fin</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                    essentially unchanged. It was popularised in the 1960s</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-3">
            <img id="candado" alt="candado" src="/../../assets/candado.png" class="w-100 h-75" >
        </div>
    </div>
    
    </div>
