<div class="container">
    <div class="text-center">
        <h1 class="mt-3" i18n>Karen Ramírez</h1>
        <div>
            <img src="../../assets/user.jpg" alt="Foto de perfil" class="mw-100">
        </div>
        <div class="d-inline-block text-left mt-3">
            <p i18n><strong>Dirección</strong> Kansas 18, Col. Nápoles</p>
            <p i18n><strong>Estado</strong> CDMX</p>
            <p i18n><strong>Correo Electrónico</strong> karenciita@gmail.com</p>
            <p i18n><strong>Teléfono</strong> 040 55 25 35 21 57</p>
        </div>
    </div>

    <h1 i18n>Tu historial con comprador</h1>
    <div class="row mb-3">
        <img src="../../assets/beans.jpg" alt="Frijoles" class="col-12 col-sm-12 col-md-4">
        <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-3">
            <p class="align-self-left" i18n>Frijoles</p>
            <p class="align-self-left" i18n>$2,400.00 MXN</p>
            <p class="align-self-left" i18n>10 de Septiembre de 2020</p>
        </div>
        <div class="d-inline-flex justify-content-center col-12 col-sm-12 col-md-5">
            <p class="align-self-center" i18n>Opino que Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                reiciendis mollitia velit eveniet ea harum, illum suscipit soluta, officia non labore magni
                placeat, incidunt voluptate rem? Dolore distinctio facere similique.</p>
        </div>
    </div>
    <div class="row mb-3">
        <img src="../../assets/avocado-prueba.jpg" alt="Aguacate" class="col-12 col-sm-12 col-md-4">
        <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-3">
            <p class="align-self-left" i18n>Aguacates</p>
            <p class="align-self-left" i18n>$2,483,241.69 MXN</p>
            <p class="align-self-left" i18n>13 de Septiembre de 2020</p>
        </div>
        <div class="d-inline-flex justify-content-center col-12 col-sm-12 col-md-5">
            <p class="align-self-center" i18n>Opino que Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                reiciendis mollitia velit eveniet ea harum, illum suscipit soluta, officia non labore magni
                placeat, incidunt voluptate rem? Dolore distinctio facere similique.</p>
        </div>
    </div>
</div>