<div class="container">
    <div class="text-center">
        <h1 class="mt-3" i18n>{{ viewCustomerProfile.name }}</h1>
        <div>
            <img src="../../assets/user.jpg" alt="Foto de perfil" class="mw-100">
        </div>
        <div class="d-inline-block text-left mt-3">
            <p i18n><strong>Dirección</strong> {{ viewCustomerProfile.address }}</p>
            <p i18n><strong>Estado</strong> {{ viewCustomerProfile.state }}</p>
            <p i18n><strong>Correo Electrónico</strong> {{ viewCustomerProfile.mail }}</p>
            <p i18n><strong>Teléfono</strong> {{ viewCustomerProfile.phone }}</p>
        </div>
    </div>

    <h1 i18n>Tu historial con comprador</h1>
    <div *ngFor="let product of customerSales; let i = index" class="row mb-3">
        <img src="../../assets/beans.jpg" alt="Frijoles" class="col-12 col-sm-12 col-md-4">
        <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-3">
            <p class="align-self-left" i18n>{{ product.name }}</p>
            <p class="align-self-left" i18n>{{ product.price }}</p>
            <p class="align-self-left" i18n>{{ product.date }}</p>
        </div>
        <div class="d-inline-flex justify-content-center col-12 col-sm-12 col-md-5">
            <p class="align-self-center" i18n>{{ product.review }}</p>
        </div>
    </div>
</div>