<div class="container">
    <div class="row mb-5">
        <div class="card mt-3 col-12 col-sm-12 col-md-6 text-center">
        <img src="../../assets/creditcard.png" class="w-50" alt="...">
        <div class="card-body text-center">
            <h4 class="card-title" i18n>Ingresa Tarjeta</h4>
            <form [formGroup]="confirmarCompraForm" (ngSubmit)="onConfirmarCompra()">
                <div class="form-group mt-3">
                    <input type="number" formControlName="cardNumber" id="inputNumTarjeta" class="form-control mb-4" placeholder="Número de tarjeta"> 
                </div>
                <div class="form-group mt-3">
                    <input type="text" formControlName="name" id="inputNombreCompleto" class="form-control mb-4" placeholder="Nombre y apellido"> 
                </div>
                <div class="col-md-12 row">
                    <div class="form-group col-md-6">
                        <input type="text" formControlName="expirationDate" id="inputExpireDate" pattern="\d\d/\d\d" class="form-control mb-4" placeholder="Fecha de expiración"> 
                    </div>
                    <div class="form-group col-md-6">
                        <input type="number" formControlName="cvv" id="inputCode" class="form-control mb-4" placeholder="CVV"  min="1" max="999" > 
                    </div> 
                </div>
                
            </form>
        </div> 
        </div>
        <div class="card mt-3 col-12 col-sm-12 col-md-6 ">
        <div class="card-body">
            <h4 class="card-title" i18n>{{ purchaseConfirmation.name }}</h4>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <h5 i18n><span>Precio Unitario: </span></h5>
                        <p i18n>{{ purchaseConfirmation.unitPrice }}</p>
                    </div>
                    <div class="col-md-6">
                        <h5 i18n><span>Costo de envio: </span></h5>
                        <p i18n>{{ purchaseConfirmation.shippingPrice }}</p>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <h5 i18n><span>Presentación: </span></h5>
                        <p i18n>{{ purchaseConfirmation.presentation }}</p>
                    </div>
                    <div class="col-md-6">
                        <h5 i18n><span>Fecha estimada de expiración: </span></h5>
                        <p i18n>{{ purchaseConfirmation.expireDate }}</p>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <h5 i18n><span>Unidades a comprar:</span></h5>
                        <p i18n>{{ purchaseConfirmation.units }}</p>
                    </div>
                    <div class="col-md-6">
                        <h5 i18n><span>Lugar de entrega: </span></h5>
                        <p i18n>{{ purchaseConfirmation.deliveryAddress }}</p>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <h5 i18n><span>Vendedor: </span></h5>
                        <p i18n>{{ purchaseConfirmation.vendorName }}</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <h5 i18n>Total: </h5>
                        <p i18n>1000 pesos</p>
                    </div>
                </div>
                <a href="./historial" class="btn btn-signin d-block" type="submit" i18n>Confirmar Compra</a>
        </div>
        </div>
    </div>
</div>