<div class="container">
    <div class="text-center">
        <h1 class="mt-3" i18n>José Luis Espinosa ‘La Jefa’</h1>
        <div>
            <img src="../../assets/LA-JEFA-Prueba.jpg" alt="Foto de perfil" class="mw-100">
        </div>
        <div class="d-inline-block text-left mt-3">
            <p i18n><strong>Dirección</strong> Kansas 18, Col. Nápoles</p>
            <p i18n><strong>Estado</strong> CDMX</p>
            <p i18n><strong>Correo Electrónico</strong> lajefa@gmail.com</p>
            <p i18n><strong>Teléfono</strong> 040 55 25 35 21 57</p>
        </div>
    </div>

    <h1 i18n>Productos del vendedor</h1>
    <div class="row mt-5 mb-5">
        <img src="../../assets/beans.jpg" alt="Frijoles" class="col-12 col-sm-12 col-md-4">
        <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-3 mt-3">
            <p class="align-self-center text-uppercase" i18n><b>Producto</b></p>
            <p class="align-self-center" i18n>Frijoles</p>
            <p class="align-self-center text-uppercase" i18n><b>Precio</b></p>
            <p class="align-self-center" i18n>$2,483,241.69 MXN</p>
            <p class="align-self-center text-uppercase" i18n><b>Cantidad</b> </p>
            <p class="align-self-center" i18n>2 kg</p>
        </div>
        <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-5 mt-3">
            <p class="align-self-center text-uppercase" i18n><b>Fecha del expiración estimada</b></p>
            <p class="align-self-center" i18n>27 Septiembre 2020</p>
            <p class="align-self-center text-uppercase" i18n><b>Fecha de entrega</b></p>
            <p class="align-self-center" i18n>13 Septiembre 2020</p>
        </div>
</div>
<div class="row mb-4">
    <div class="col-sm-12 col-md-4 mx-auto">
        <form action="detalleProduct.html">
            <input type="submit" id="Buy_again-1" class="btn botonBusqueda my-2 my-sm-0 " value="Comprar">
        </form>
    </div>
</div>

<hr/> <!-- Simple Línea  -->
<div class="row mt-5 mb-5">
    <img src="../../assets/avocado-prueba.jpg" alt="Frijoles" class="col-12 col-sm-12 col-md-4">
    <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-3 mt-3">
        <p class="align-self-center text-uppercase" i18n><b>Producto</b></p>
        <p class="align-self-center" i18n>Aguacates</p>
        <p class="align-self-center text-uppercase" i18n><b>Precio</b></p>
        <p class="align-self-center" i18n>$2,483,241.69 MXN</p>
        <p class="align-self-center text-uppercase" i18n><b>Cantidad</b> </p>
        <p class="align-self-center" i18n>2 kg</p>

    </div>
    <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-5 mt-3">
        <p class="align-self-center text-uppercase" i18n><b>Fecha del expiración estimada</b></p>
        <p class="align-self-center" i18n>27 Septiembre 2020</p>
        <p class="align-self-center text-uppercase" i18n><b>Fecha de entrega</b></p>
        <p class="align-self-center" i18n>13 Septiembre 2020</p>

    </div>

    
</div>
<div class="row mb-4">
    <div class="col-sm-12 col-md-4 mx-auto">
        <form action="detalleProduct.html">
            <input type="submit" id="Buy_again-2" class="btn botonBusqueda my-2 my-sm-0" value="Comprar">
        </form>
    </div>
</div>
</div>