<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h3 class="mt-3" i18n>Tu carrito</h3>
        </div>
        <div class="col-sm-3 ">
            <form action="./carrito">
                <input type="text" id="Form_Search" value="" placeholder="Busca productos en tu carrito"
                    role="searchbox" class="InputBox busquedaProducto mt-4">
            </form>
        </div>
        <div class="col-sm-2 mt-3">
            <form action="./carrito" onclick="alert('Se ha buscado un elemento en tu carrito')">
                <input type="submit" id="Search_product" class="btn botonBusqueda  my-2 my-sm-0 " value="Buscar">
            </form>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-10">
            <p i18n>Total: $500.00 </p>
        </div>
        <div class="col-12 col-sm-3">
            <form action="./producto/confirmarCompra">
                <input type="submit" id="Buy_selected" class="btn login-button my-2 my-sm-0 "
                    value="Comprar seleccionados">
            </form>
        </div>

    </div>



    <hr /> <!-- Simple Línea -->

    <div *ngFor="let product of cart; let i = index">
        <div class="row mt-5 mb-5">
            <div
                class="custom-control custom-checkbox image-checkbox d-inline-flex flex-column col-12 col-sm-12 col-md-5">
                <input type="checkbox" class="custom-control-input" id="ck1a">
                <label class="custom-control-label" for="ck1a">
                    <img src="../../assets/beans.jpg" alt="Frijoles" class="img-fluid ">
                </label>
            </div>

            <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-3 mt-2">

                <p class="align-self-left text-uppercase"><a href="detalleProduct.html" i18n>{{ product.name }}</a></p>
                <p class="align-self-left"><i i18n>Disponible</i></p>
                <p class="align-self-left" i18n>Cantidad: {{product.units }} {{ product.presentation }}</p>
                <label for="quantity-1" i18n> Unidades:
                    <input type="number" id="quantity-1" name="cantidad" min="10" max="100">
                </label>




            </div>
            <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-4">
                <p class="align-self text-right">Precio</p>
                <p class="text-right"><b>{{ product.price }}</b></p>
                <form action="./carrito" class="mt-5" onclick="alert('Haz eliminado el producto Frijoles')">
                    <input type="submit" id="Eliminate_product-1" class="btn botonCancelar col-md-6 my-2 my-sm-0"
                        value="Eliminar">
                </form>
            </div>
        </div>


        <hr /> <!-- Simple Línea  -->
    </div>
</div>