<div class="container">
    <div class="inferior-navBar" >
        <div class="container bg-light" id="contenedorInferiorTab">
            <div class="row">
                <div class="col-sm">
                    <p class="text-center font-weight-bold" i18n>Necesitas ayuda?</p>
                    <p class="text-left" i18n>Contacta a nuestro equipo con alguna de las siguientes opciones</p>
                    <ul class="list-group">
                    <li class="list-group-item"><a href="mailto:mercadodetodos@mercado.com?body=Hola tengo problemas al "  i18n>Correo</a></li>
                    <li class="list-group-item"><a href="#"  i18n>Chat en línea: Selecciona la burbuja verde</a></li>
                    <li class="list-group-item"><a href="https://api.whatsapp.com/send?phone=56552746" i18n>Buscanos en WhatsApp</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                <p class="text-center font-weight-bold" i18n>Realiza pedidos nacionales</p>
                <p class="text-center" i18n>Todos los productos son 100% mexicanos</p>
                <img src="../../../assets/mexico.png" alt="Mapa México" class="img-fluid">
                </div>
                <div class="col-sm">
                <p class="text-center font-weight-bold" i18n>Seguridad, de principio a fin</p>
                <p class="text-center" i18n>Contamos con sistema de encriptado para que tu infromación siempre este segura</p>
                <img src="../../../assets/candado.png" alt="Candado" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>