<div class="container">
    <div class="inferior-navBar" >
        <div class="container bg-light" id="contenedorInferiorTab">
            <div class="row">
                <div class="col-sm">
                    <p class="text-center font-weight-bold">Necesitas ayuda?</p>
                    <p class="text-left" i18n>Contacta a nuestro equipo con alguna de las siguientes opciones</p>
                    <ul class="list-group">
                    <li class="list-group-item"><a href="#" onClick='alert("Abrir mandar correo");' >Correo</a></li>
                    <li class="list-group-item"><a href="#" onClick='alert("Conoce a tu comunidad");' >Comunidad</a></li>
                    <li class="list-group-item"><a href="#" onClick='alert("Chat en linea");' >Chat en línea</a></li>
                    <li class="list-group-item"><a href="#" onClick='alert("5534589741");' >Telefono</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                <p class="text-center font-weight-bold">Realiza pedidos nacionales</p>
                <p class="text-center">Todos los productos son 100% mexicanos</p>
                <img src="../../../assets/mexico.png" alt="Mapa México" class="img-fluid">
                </div>
                <div class="col-sm">
                <p class="text-center font-weight-bold">Seguridad, de principio a fin</p>
                <p class="text-center">Contamos con sistema de encriptado para que tu infromación siempre este segura</p>
                <img src="../../../assets/candado.png" alt="Candado" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>