<div class="container">
    <h1 class="d-inline-block mt-3" i18n>Mi cuenta</h1>
    <a href="./perfiles/editar-perfil-comprador" class="btn botonEditar mt-3 float-right" i18n>Editar</a>
    <div class="row">
        <img src="../../assets/user.jpg" alt="Foto de perfil"
            class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="d-inline-block col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <p i18n>{{ customerProfile.name }}</p>
            <p i18n>{{ customerProfile.mail }}</p>
            <p i18n>{{ customerProfile.phone }}</p>
            <P i18n>{{ customerProfile.state }}</P>
            <p i18n>{{ customerProfile.address }}</p>
        </div>
    </div>

    <app-graficas-compradores></app-graficas-compradores>

    <h1 i18n>Preferencias de comunicación</h1>
    <form action="#">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <input type="checkbox" id="notificarCorreo" name="notificarCorreo" value="notificarcorreo">
                <label for="notificarCorreo" i18n>Notificar por correo electronico</label>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <input type="checkbox" id="notificarSMS" name="notificarSMS" value="notificarsms">
                <label for="notificarSMS" i18n>Notificar por mensaje de texto</label>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <input type="checkbox" id="notificarOfertas" name="notificarOfertas" value="notificarofertas">
                <label for="notificarOfertas" i18n>Recibir ofertas</label>
            </div>
            <div class="col-12 col-sm-12 d-flex justify-content-center">
                <input onclick="alert('Preferencias guardadas');" href="#" type="submit" class="btn btn-signin"
                    value="Guardar preferencias">
            </div>
        </div>
    </form>
</div>
