<div class="container">
  <div class="row mb-4">
    <div class="card mt-3 col-12 col-sm-12 col-md-6 ">
      <img src="../../../../../assets/beans.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <div class="form-group mt-3">
              <form [formGroup]="RegisterProductForm" (ngSubmit)="onRegisterProduct()">
                <input type="file" id="newPic" formControlName="productImage" name="newPic" class="form-control mb-4">
                <textarea name="message" formControlName="description" rows="7" cols="60" placeholder="Inserta aqui la descripción del producto" class="form-control mb-4"></textarea>
            </form>
          </div>
      </div>
    </div>
    <div class="card mt-3 col-12 col-sm-12 col-md-6 ">
      <div class="card-body"> 
        <h5 class="card-title" i18n>Registro de nuevo producto</h5>
          <form  [formGroup]="RegisterProductForm" (ngSubmit)="onRegisterProduct()">
              <div class="form-group mt-3">
                  <input type="text" id="inputNameProd" formControlName="name" class="form-control mb-4" placeholder="Nombre del Producto"> 
              </div>
              <div class="form-group mt-3">
                  <input type="number" id="inputPrice" formControlName="price" class="form-control mb-4" placeholder="Precio Unitario" min="0"> 
              </div>
              <div class="form-group mt-3">
                  <input type="text" id="inputPresentacion" formControlName="display" class="form-control mb-4" placeholder="Presentación"> 
              </div>
              <div class="form-group mt-3">
                  <input type="text" id="inputState" formControlName="location" class="form-control mb-4" placeholder="Estado donde puede realizar envios"> 
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <input type="number" id="inputUnitsAvailabe" formControlName="availableUnits" class="form-control mb-4" placeholder="Unidades Disponibles" min="1"> 
                  </div>
                  <div class="form-group col-md-6">
                      <input type="number" id="inputDeliveryCost" formControlName="shippingCost" class="form-control mb-4" placeholder="Costo de envio" min="0"> 
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputExpireDate" i18n>Fecha estimada de expiración:
                      </label>
                      <input type="date" id="inputExpireDate" formControlName="expireDate" class="form-control mb-4"> 
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputDeliveryDays" i18n>Días estimados para envio:</label>
                      <input type="number" id="inputDeliveryDays" formControlName="shippingDays" name="deliveryDays" class="form-control mb-4" min="1" max="7" step="1" value="1"> 
                  </div>
              </div>
              <div class="form-group mt-3 text-center">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="userAgreement">
                    <label class="form-check-label" for="userAgreement" i18n>
                      Acepto los términos y condiciones
                    </label>
                  </div>
              </div>
          </form>
        <button class="btn btn-signin d-block" (click) = "onRegisterProduct()" i18n>Registrar Producto</button>
      </div>
    </div>
  </div>
</div>
