<div class="container">
    <div class="text-center">
        <h1 class="mt-3" i18n>Mi cuenta</h1>
        <div *ngIf = "auth.user$ | async as user">
            <img [src]="user.picture" alt="Foto de perfil" class="mw-100">
        </div>
        <div >
            <form [formGroup]="updatePerfilForm" (ngSubmit)="updateCustomerProfile()">
                <div class="form-group ">
                    <input type="text" formControlName="nombre" id="nombre" class="form-control mb-4" placeholder="Nombre"> 
                </div>
                <div class="form-group ">
                    <input type="text" formControlName="ciudad" id="ciudad" class="form-control mb-4" placeholder="Ciudad"> 
                </div>
                    <div class="form-group ">
                        <input type="number" formControlName="telefono" id="telefono"  class="form-control mb-4" placeholder="Telefono"> 
                    </div>
                    <div class="form-group ">
                        <input type="text" formControlName="domicilio" id="domicilio" class="form-control mb-4" placeholder="Domicilio" > 
                    </div> 
                
            </form>
        </div>
    </div>

    <div class="col-12 col-sm-12 d-flex justify-content-center mb-3">
        <a routerLink="./perfiles/perfil-comprador" class="btn btn-signin" i18n>Guardar cambios</a>
    </div>
</div>