<p i18n>{{ message }}</p>
<button (click)="newMessage()" i18n>Cambiar mensaje</button>
<div class="container">
    <div class="text-center">
        <h1 class="mt-3" i18n>Mi cuenta</h1>
        <div>
            <img src="../../assets/user.jpg" alt="Foto de perfil" class="mw-100">
        </div>
        <div class="d-inline-block text-left mt-3">
            <p i18n><button onclick="alert('Realizar cambio');"
                    class="btn botonEditar mr-3">Editar</button><strong>Nombre</strong> Karen</p>
            <p i18n><button onclick="alert('Realizar cambio');"
                    class="btn botonEditar mr-3">Editar</button><strong>Dirección</strong> Kansas 18, Col. Nápoles
            </p>
            <p i18n><button onclick="alert('Realizar cambio');"
                    class="btn botonEditar mr-3">Editar</button><strong>Estado</strong> CDMX</p>
            <p i18n><button onclick="alert('Realizar cambio');"
                    class="btn botonEditar mr-3">Editar</button><strong>Correo Electrónico</strong>
            <p i18n>karenciita@gmail.com</p>
            <p i18n><button onclick="alert('Realizar cambio');"
                    class="btn botonEditar mr-3">Editar</button><strong>Teléfono</strong> 040 55 25 35 21 57</p>
        </div>
    </div>

    <div class="col-12 col-sm-12 d-flex justify-content-center mb-3">
        <a href="./perfiles/perfil-comprador" class="btn btn-signin" i18n>Guardar cambios</a>
    </div>
</div>