<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h3 class="mt-3" i18n>Tu historial de compras</h3>
        </div>
        <div class="col-sm-3 ">
            <form action="./historial">
                <input type="text" id="Form_Search" value="" placeholder="Busca productos en tu historial"
                    role="searchbox" class="InputBox busquedaProducto mt-4">
            </form>
        </div>
        <div class="col-sm-2 mt-3">
            <form action="./historial" onclick="alert('Se ha buscado un elemento en tu historial')">
                <input type="submit" id="Form_Go" class="btn botonBusqueda  my-2 my-sm-0 " value="Buscar">
            </form>
        </div>
    </div>

    <hr /> <!-- Simple Línea -->

    <div *ngFor="let product of history; let i = index">
        <div class="row mt-5 mb-5">
            <img src="../../assets/beans.jpg" alt="Frijoles" class="col-12 col-sm-12 col-md-4">
            <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-3 mt-3">
                <p class="align-self-center text-uppercase"><b i18n>Producto</b></p>
                <p class="align-self-center" i18n>{{ product.name }}</p>
                <p class="align-self-center text-uppercase"><b i18n>Precio</b></p>
                <p class="align-self-center" i18n>{{ product.price }}</p>
                <p class="align-self-center text-uppercase"><b i18n>Cantidad</b> </p>
                <p class="align-self-center" i18n>{{ product.units }} {{ product.presentation }}</p>
            </div>
            <div class="d-inline-flex flex-column col-12 col-sm-12 col-md-5 mt-3">
                <p class="align-self-center text-uppercase"><b i18n>Fecha del pedido</b></p>
                <p class="align-self-center" i18n>{{ product.orderDate }}</p>
                <p class="align-self-center text-uppercase"><b i18n>Fecha de entrega</b></p>
                <p class="align-self-center" i18n>{{ product.deliveryDate }}</p>
                <p class="align-self-center text-uppercase"><b i18n>Vendedor</b></p>
                <p class="align-self-center"><a href="./perfiles/ver-perfil-vendedor" i18n>{{ product.vendorName }}</a></p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-12 col-md-4 mx-auto">
                <form action="./producto/detalleProducto">
                    <input type="submit" id="Buy_again-1" class="btn botonBusqueda my-2 my-sm-0 "
                        value="Comprar de nuevo">
                </form>
            </div>
        </div>
        <hr /> <!-- Simple Línea  -->
    </div>

    <div class="row mb-4">
        <div class="col-sm-12 col-md-3 mx-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="./historial" i18n>Previous</a></li>
                    <li class="page-item"><a class="page-link" href="./historial" i18n>1</a></li>
                    <li class="page-item"><a class="page-link" href="./historial" i18n>2</a></li>
                    <li class="page-item"><a class="page-link" href="./historial" i18n>3</a></li>
                    <li class="page-item"><a class="page-link" href="./historial" i18n>Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>